// This is the deader at the top

#top {
  position: absolute;
}

// This is the header that appears once you've begun to scroll

.second-nav {
    background-color: #333;
    visibility: hidden;
}
// This effects the header on all pages
header {
    text-shadow: 1px 1px 1px rgba(033, 033, 033, .4);
    z-index: 101;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(rgba(022, 022, 022, .3), rgba(0, 0, 0, .0));
    font-family: 'Lato';
    font-weight: 400;
    padding-bottom: 28px;


    img {
        width: 200px;
        margin-top: 0;
        margin-bottom: 10px;

    }

    #logo {
      position: relative;
      top: 10px;
    }

    nav {
        text-align: center;
        width: 100%;
        margin: 0 auto;

        ul {
            margin: 0 auto;
            padding: 0;
            position: relative;
            top: 15px;

            li {
                text-align: center;
                display: inline-block;
                // margin-left: 35px;
                // margin-right: 35px;
                font-size: 15px;
                color: white;
                transition: 0.3s;
                width: 200px;

            }

            li:hover {
                text-decoration: none;
                color: grey;
            }
        }
    }
}

#logo-small {
    display: none;
    position: relative;
    top: 30px;
}

::i-block-chrome, .safari{
  header {
    nav {
      ul {
        li{
          position: relative;
          top: -20px
        }
      }
    }
  }
}
@import "../partials/breakpoints";
