@import "../partials/colors";





.hero{
background-color: #091c0e;
  text-align: center;

  #welcome {
    background-size: cover;
    background: url(../images/Unsplash/trail-runners.jpg) fixed  no-repeat;
  // padding:15% 10% 10% 10%;
  height: 100vh;


  }
  #featured-route {
    background: url(../images/Unsplash/los-padres.jpg) fixed  no-repeat;
// padding:15% 10% 10% 10%;
  height: 100vh;
    background-size: cover;
    background-position: center;

  }
  #featured-review {
    background: url(../images/gear/pad-close.jpg) fixed no-repeat;
    // padding:15% 10% 10% 10%;
      height: 100vh;
    background-size: cover;


  }
  #featured-story{
    background: url(../images/NM/feet3.jpg) fixed no-repeat;
  // padding:15% 10% 10% 10%;
    height: 100vh;
    background-size: cover;


  }

  .caption {
    padding: 20px 30px;
    border: 5px solid white;
    text-shadow: 1px 1px 2px rgba(033, 033, 033, .6);
    height: auto;
    color: white;
    background-color: rgba(86, 86, 86, .4);
    display: inline-block;
    max-width: 650px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin: 25vh 5% 20px 5%;


    a {
      color: white;
      text-decoration: none;
    }
    h2 {
      font-weight: 700;
      font-size: 40px;
      letter-spacing: 10px;

    }
    h3 {
      font-size: 15px;
      font-weight: 400;
    }
}

  li {
    list-style: none;
    margin: 0 auto;
  }
  .hero-btn {

    color: white;
    border-radius: 40px;
    background-color: rgba(105, 177, 173, .8);
    width: 210px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 1px 1px 1px rgba(033, 033, 033, .2);
    margin: 0 auto;
    transition: .5s;
    margin-top: 30px;



    h2{
    display: inline-block;
    border-radius: 30px;
    margin: 0;
    letter-spacing: 3px;
    font-size: 15px;
        font-weight: 400;
  }
  }
  .hero-btn:hover {
    background-color: rgba(255, 255, 255, .8);
    color: $turquoise;
  }
}


// Heros accross all pages but home

.hero2 {
      height: 70vh;
  .caption {
    padding: 20px 30px;
    text-shadow: 1px 1px 2px rgba(033, 033, 033, .6);
    color: white;
    display: inline-block;
    max-width: 650px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
  margin: 120px 5% 20px 5%;

    h2 {
      font-weight: 700;
      font-size: 35px;
      letter-spacing: 10px;
    }
    h3 {
      font-size: 18px;
      line-height: 1.5;
          font-weight: 400;
    }
  }
  }





// Routes

.route-hero {
background: url(../images/Unsplash/wooded-trail.jpg) no-repeat;
background-size: cover;
position: fixed;


}



// Gear
.gear-hero {
    background: url(../images/gear/press-everything.jpg) fixed  no-repeat;
    background-size: cover;
    background-position: center;

}
// gear-review1
.nemo-hero {
    background: url(../images/gear/pad-close.jpg) no-repeat;
    background-size: cover;
    position: fixed;

}
// gear-review2
.ospray-hero {

    background: url(../images/gear/pack-front.jpg) fixed  no-repeat;
    background-size: cover;
    background-position: bottom;

}

// gear-review3
.sawyer-hero {

    background: url(../images/gear/filter-alone.jpg) fixed  no-repeat;
    background-size: cover;
    background-position: bottom;

}

// Planning

.planning-hero {
    background: url(../images/Unsplash/Night-camping.jpg) fixed  no-repeat;
    background-size: cover;
    background-position: bottom;

}


// route1
.route1-hero {

    background: url(../images/Unsplash/Austin.jpg) fixed no-repeat;
    background-size: cover;
    background-position: center;

}
// route2
.route2-hero {

    background: url(../images/NM/feet.jpg) fixed no-repeat;
    background-size: cover;
    background-position: center;

}
// route3
.route3-hero {

    background: url(../images/Unsplash/los-padres.jpg) fixed no-repeat;
    background-size: cover;
    background-position: center;

}



// S T O R I E S
.stories-hero {

    background: url(../images/Unsplash/facing-wilderness.jpg) fixed no-repeat;
    background-size: cover;
    background-position: bottom;;

}


// Story 1
.story1-hero {

    background: url(../images/stories/kiliannat.jpg) fixed no-repeat;
    background-size: cover;
    background-position: bottom;;

}

// Story 2
.story2-hero {

    background: url(../images/NM/feet3.jpg) fixed no-repeat;
    background-size: cover;
    background-position: bottom;;

}
