
.planning-info {
 display: flex;
 flex-wrap: wrap;
 padding: 20px 10%;
 justify-content: center;

.planning-101 {
  width: 28%;
  min-width: 300px;
  text-align: left;
    margin: 20px;


}
.planning-gear {
  width: 28%;
  min-width: 300px;
    text-align: left;
    margin: 20px;
}
.planning-routes {
  width: 28%;
  min-width: 300px;
    text-align: left;
        margin: 20px;
}
}
