/* Imports */
@import "partials/headers";
@import "partials/heros";
@import "partials/mains";
@import "partials/colors";
@import "partials/slides";
@import "partials/css-filter";

body{
  font-family: 'Raleway';
  color: #444;
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
  transition: .5s;
}
a:hover {
  text-decoration: none;
  color: grey;

}
a:focus {
  outline: none;
}
h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
}
h4 {
  font-size: 30px;
    font-weight: 700;
}
.margin-bottom {
  margin-bottom: 60px;
}
.text-shadow {
      text-shadow: 1px 1px 1px rgba(33, 33, 33, 0.2);
}

.letter-spacing {
  letter-spacing: 10px;
}
.white {
  color: white;
}

.box{
  font-family: 'Lato', sans-serif;
  width: 300px;
  height: 300px;
  background-color: grey;
  overflow: hidden;


}
.fa {
  font-size: 30px;
background-color: #555;
padding-top: 15px;
height: 45px;
width: 60px;
border-radius: 100%;
color: white;
text-align: center;
}
.background-grey-box {
  margin: 0;
  padding: 118px 15%;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(033, 033, 033, .6);
  background-color: rgba(033, 033, 033, .8);
  height: 300px;
  transition: .5s;
  color: white
}
.box:hover h3 {
  background-color: rgba(033, 033, 033, .0);
  text-shadow: none;
  color: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 1px rgba(033, 033, 033, 0);
  }

  .underbox {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Lato';
    text-align: left;
  }

// For in text links

.turquise{
  color: $turquoise;
}
.turquoise:hover {
    color: #333;
}


// This is the red banner over the sections within a page
.section-banner {
  color: white;
  position: relative;
  top: -20px;
  background-color: $red;

  max-width: 400px;
  margin: 0 auto;
  padding: 5px 10px;
  font-family: 'Lato';
}

// This is the class that when added to a div will trigger parallax effect

.slow{
  position: relative;
  z-index: -1;
}



// footer

.footer {
  background-color: #333;
  border-top: 1px solid #222222;
  margin: 0 auto;
  padding: 25px;
  color: grey;
  ul {
    // list-style: none;
    padding: 0px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.6;
    li {
      display:inline-block;

  margin-left: 20px;
margin-right: 20px;

    }
    a {
      color: grey;
    }
    a:hover {
        color: white;
    }
  }


  .bottom-logo{
    width: 70%;
    max-width: 350px;
    fill: grey;

  }
}





@import "partials/breakpoints";
